.bin {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    padding: 5px;
    width: 70%;
    border-radius: 7px;
    color: white;
    text-align: center;
    font-size: 2vh;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}